/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$overlayred: 255;
$overlaygreen: 255;
$overlayblue: 255;
html,
body {
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb($overlayred, $overlaygreen, $overlayblue);
  // background-image: url(/assets/earth_2.png);
  // background-position: top center;
  // background-size: 1400px;
}

#overlay-horizontal {
  background: -webkit-linear-gradient(left, rgba($overlayred, $overlaygreen, $overlayblue, 1) 0%, rgba($overlayred, $overlaygreen, $overlayblue, 1) calc(50vw - 700px), rgba($overlayred, $overlaygreen, $overlayblue, 0.8) calc(50vw - 670px), rgba($overlayred, $overlaygreen, $overlayblue, 0) calc(50vw - 550px), rgba($overlayred, $overlaygreen, $overlayblue, 0) calc(50vw + 550px), rgba($overlayred, $overlaygreen, $overlayblue, 0.8) calc(50vw + 670px), rgba($overlayred, $overlaygreen, $overlayblue, 1) calc(50vw + 700px), rgba($overlayred, $overlaygreen, $overlayblue, 1) 100%);
  z-index: 1;
}

#overlay-vertical {
  background: -webkit-linear-gradient(top, rgba($overlayred, $overlaygreen, $overlayblue, 0) 0%, rgba($overlayred, $overlaygreen, $overlayblue, 0) 1350px, rgba($overlayred, $overlaygreen, $overlayblue, 1) 1400px);
  z-index: 1;
}

#app {
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100vh;
  position: relative;
  justify-items: start;
}

#home-header {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid black;
  width: calc(100vw - 30px);
}

.header-text {
  font-size: 16px;
  text-align: justify;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 0px 12px;
  color: navy;
  .p2 {
    text-align: center;
    margin-top: 8px;
    color: black;
  }
}

@media screen and (max-width: 700px) {
  #home-header {
    font-size: 20px;
  }
  .footer-text {
    font-size: 11px;
  }
  .header-text {
    font-size: 14px;
  }
}

#background-image {
  width: 1400px;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  z-index: -1;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #background-image {
    width: 1200px;
  }
  #overlay-vertical,
  #overlay-horizontal {
    background: none;
  }
}

@media screen and (max-width: 1000px) {
  #background-image {
    width: 1000px;
  }
}

@media screen and (max-width: 800px) {
  #background-image {
    width: 800px;
  }
}

@media screen and (max-width: 600px) {
  #background-image {
    width: 800px;
  }
}

.footer {
  align-self: end;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid black;
  font-size: 13px;
  width: calc(100vw - 40px);
  .footer-text {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 16px;
    max-width: 800px;
    margin: auto;
    align-items: center;
  }
  z-index: 2;
}

.github {
  img {
    width: 30px;
  }
}

#login-container {
  width: 100vw;
  margin-top: 30px;
  display: grid;
  justify-content: center;
}

#login-backdrop {
  width: max-content;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  border: 1px solid black;
  border-radius: 12px;
  display: grid;
  gap: 20px;
}

#login-label {
  text-align: center;
  font-size: 20px;
}

#user-dashboard {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: max-content;
  overflow: scroll;
}

#dashboard-header,
#quiz-header {
  display: grid;
  justify-content: center;
  justify-self: start;
  padding: 20px 10px;
  gap: 20px;
  width: calc(100vw - 20px);
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid black;
  height: max-content;
}

#dashboard-name {
  font-size: 24px;
  text-align: center;
}

#dashboard-buttons,
#quiz-buttons {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  justify-items: center;
}

#take-quiz-button,
#sign-out-button,
#dashboard-button {
  width: 100px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#take-quiz-button,
#dashboard-button {
  background-color: rgb(204, 247, 207);
}

#take-quiz-button:hover,
#dashboard-button:hover {
  background-color: rgb(204, 247, 227);
}

#sign-out-button {
  background-color: rgb(247, 204, 204);
}

#sign-out-button:hover {
  background-color: rgb(247, 204, 224);
}

#tables-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, max-content);
  gap: 60px;
  margin-top: 30px;
  height: max-content;
  padding-bottom: 20px;
}

.scores-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(2, max-content);
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 25px;
  border: 1px solid black;
  border-radius: 12px;
}

.table-title {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.scores-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.scores-table td,
.scores-table th {
  border: 1px solid #b79797;
  padding: 8px;
  text-align: center;
  width: 60px;
}

.scores-table tr:nth-child(even) {
  background-color: #efefef;
}

.scores-table tr:hover {
  background-color: #ddd;
}

.scores-table th {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #79e9c0;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .scores-table {
    font-size: 10px;
  }
  .scores-table th {
    font-size: 12px;
  }
  .scores-table td,
  .scores-table th {
    padding: 5px;
    width: 50px;
  }
  .table-title {
    font-size: 16px;
  }
  .scores-container {
    padding: 15px 20px;
  }
  #take-quiz-button,
  #sign-out-button,
  #dashboard-button {
    width: 80px;
    padding: 8px;
    font-size: 12px;
  }
  #dashboard-name {
    font-size: 20px;
  }
  #tables-container {
    gap: 20px;
  }
}

#quiz {
  overflow: scroll;
  padding-bottom: 20px;
}

#quiz-container {
  display: grid;
  justify-content: center;
  justify-self: center;
}

.prompt-container,
#results-container {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  width: max-content;
  justify-self: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
  max-width: calc(min(400px, calc(100vw - 60px)));
}

.question-container {
  display: grid;
  gap: 5px;
}

.question-number {
  text-align: center;
}

.question-text {
  text-align: center;
}

.form-container {
  margin-top: 5px;
  display: grid;
  justify-content: center;
  gap: 15px;
}

.form-container>form {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
  justify-content: center;
}

.flag-img {
  width: 120px;
  margin-bottom: 10px;
}

#results-container>form {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
}

#results-text {
  text-align: center;
}

.correct {
  background-color: lightgreen;
  padding: 6px;
}

.correct>.flag-img {
  margin-bottom: 0px;
}

.submit-form {
  display: none;
}

#dashboard-announcement {
  padding: 0px 20px;
}